@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url(header.css);
@import url(metricas.css);
@import url(banner.css);
@import url(vagas.css);

:root {
    --bg-principal: #FFFFFF;
    --bg-secundario: #FDF8F8;
    --bg-rodape: #F9FAFB;
    --bg-destaque: #F9F4F4;
    --cor-destaque: #8E2424;
    --cor-titulo: #101828;
    --cor-texto: #667085;
    --cor-logo: #3A404E;
    --cor-borda: #EAECF0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--bg-branco);
}